/* * {
  box-sizing: border-box;
} */

body {
  background-color: #fff;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  color: #434455;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.imgs {
  display: block;
  max-width: 100%;
}

.section-title-link {
  font-size: 56px;
  color: #fff;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-navigation {
  display: flex;
  align-items: center;
}
.container-header {
  display: flex;
  justify-content: space-between;
}

.box-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.logo {
  font-size: 18px;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-right: 76px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.logo-link {
  color: #2e2f42;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-link {
  display: block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.menu-link:hover {
  color: #404bbf;
}
.menu-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-text {
  display: flex;
  gap: 40px;
  margin: 0 auto;
}

.mail-link {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mail {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.mail:hover {
  color: #404bbf;
}

.mail:focus {
  color: #404bbf;
}
.tel {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}
.tel:hover {
  color: #404bbf;
}

.tel:focus {
  color: #404bbf;
}

.section-title-item {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.section-title {
  background-color: #2e2f42;
  padding-bottom: 188px;
  padding-top: 188px;
}

.button-service {
  background-color: #4d5ae5;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
}
.button-service:focus {
  background-color: #404bbf;
}
.button-service:hover {
  background-color: #404bbf;
}

.section-advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages {
  display: flex;
  gap: 24px;
}

.advantages-item {
  width: calc((100% - 72px) / 4);
}

.name-title-team {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.text-title-team {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.name-title {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-title {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.images-title-text {
  display: flex;
  gap: 24px;
  text-align: center;
}

.images-team {
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
}

.section-team-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px 16px;
}

.section-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-team-title {
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  font-size: 36px;
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.portfolio {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.images {
  width: calc((100% - 48px) / 3);
}

.title-name-group {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.footer-menu {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  padding: 0;
}
.footer-logo-link {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.footer-text {
  font-size: 16px;
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-top: 16px;
}
